// _variables.scss
$margin-bottom: 2em;
$margin-right: 45px;
$padding: 1em;
$border: 1px solid #ccc;
$width: 831px;
$height: 45px;
$background: rgb(155 155 155 / 89%);
$color-white: #ffffff;
$color-black: #070505;
$color-purple: #7429C6;
